
#l-header {
  width: 100%;
  position: fixed;
  line-height: 100px;
  background: linear-gradient(rgba(0, 0, 0, .9) 1%, rgba(0, 0, 0, .8) 15%, rgba(0, 0, 0, .7) 30%, rgba(0, 0, 0, .6) 45%, rgba(0, 0, 0, .5) 60%, rgba(0, 0, 0, .3) 75%, transparent);
  z-index: 1024;

  .header-container {
    .header-item {
      float: left;
      display: inline-block;
      height: 100%;
      width: 33%;
      text-align: left;

      div {
        display: inline-block;
      }
    }
  }
}

.fly-out {
  transition: transform .3s, -webkit-transform .3s;
  transform: translateY(-100px);
}

.fly-in {
  transition: transform .3s, -webkit-transform .3s;
  transform: translateY(0);

}
