html, body, #app {
  margin: 0 auto;
  width: 100%;
  min-width: 1280px;
  min-height: 1500px;
  padding: 0;
  position: absolute;
  background-color: #26262e;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-width: 500px !important;

  .container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }

  .el-divider {
    width: 100%;
    background-color: #48494c;
  }
}
