#rolling-over {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 80px;
  z-index: 2;

  .rolling-item-active {
    img {
      filter: brightness(100%) !important;
    }
  }

  .rolling-item {
    display: inline-block;
    width: 60px;
    margin: 0 3px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 1px solid #a8a8a8;

    img {
      width: 100%;
      height: 100%;
      float: left;
      filter: brightness(50%);
    }
  }

  .rolling-items-before {
    float: left;
  }

  .rolling-items-after {
    float: left;
  }

  .rolling-center {
    float: left;
    width: calc(100% - 2 * (60px + 3px * 2 + 1px * 2) * 2);
    height: 100%;
  }
}
