#rolling-over {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 100px;
  border: 1px solid blue;
  .arrow {
    font-size: 100px;
    color: #ffffff;
  }
  .arrow-left {
    float: left;
  }
  .arrow-right {
    float: right;
  }
}
