#rolling-over {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 80px;
  z-index: 2;

  .rolling-item-active {
    img {
      filter: brightness(100%) !important;
    }
  }

  .rolling-item {
    display: inline-block;
    width: 60px;
    margin: 0 3px;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 1px solid #a8a8a8;

    img {
      width: 100%;
      height: 100%;
      float: left;
      filter: brightness(50%);
    }
  }

  .rolling-items-before {
    float: left;
  }

  .rolling-items-after {
    float: left;
  }

  .rolling-center {
    float: left;
    width: calc(100% - 2 * (60px + 3px * 2 + 1px * 2) * 2);
    height: 100%;

    .watch-now-container {
      width: calc(100% - 20% * 2 - 10px * 2);
      height: 100%;
      float: left;
      line-height: 80px;
      .el-button {
        height: 60%;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .tips {
      text-align: left;
      font-size: 12px;
      color: #ffffff;
      font-weight: 700;
      padding-left: 10px;
      width: 20%;
      height: 100%;
      float: left;

      span {
        display: block;
      }

      .category {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
